<div class="w-full p-20">
	<div class="w-full flex items-center flex-no-wrap gap-15 justify-between mb-15">
		<h4 class="display-block m-0 font-bold text-xl">Listado de usuarios</h4>

		<div class="flex items-center flex-no-wrap gap-10">
			<button (click)="abrirDrawerNuevoUsuario()" nz-button nzType="primary">
				<span nz-icon nzType="plus"></span>
				Agregar Usuario
			</button>
		</div>
	</div>

	<form [formGroup]="filtros" class="w-full border-1 border-solid border-theme-bluegray-300 rounded-sm p-10 mb-20 bg-theme-bluegray-100 grid">
		<div class="grid-col-2">
			<p class="display-block m-0 mb-7 text-smd font-medium">Junta</p>
			<app-select-junta class="w-full" formControlName="codigoJunta"></app-select-junta>
		</div>
		<div class="grid-col-2 flex items-end">
			<button nz-button nzType="primary" (click)="obtenerUsuarios()" [nzLoading]="loading.usuarios" class="btn-black w-full">Buscar</button>
		</div>
	</form>

	<div class="w-full">
		<nz-table #nzTable
			[nzData]="usuarios"
			nzSize="small"
			[nzLoading]="loading.usuarios"
			[nzPageSize]="10">
			<thead>
				<tr>
					<th class="min-size">ID</th>
					<th>Nombre</th>
					<th>Correo</th>
					<th>Rol</th>
					<th>Junta</th>
					<th>Fecha Creación</th>
					<th class="min-size"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let i of nzTable.data">
					<td class="min-size">{{ i.codigo }}</td>
					<td>
						<div class="flex items-center flex-no-wrap">
							<img class="w-30 h-30 rounded-sm bg-theme-bluegray-300"
								src="https://api.dicebear.com/7.x/initials/svg?seed={{ i.nombres }} {{ i.apellidos }}">
							<p class="m-0 ml-10">
								{{ i.nombres | titlecase }} {{ i.apellidos | titlecase }}
							</p>
						</div>
					</td>
					<td>
						{{ i.correo }}
					</td>
					<td>
						<code class="text-sm px-7 py-5 bg-theme-bluegray-100 rounded-sm">
							{{ i.rol }}
						</code>
					</td>
					<td>{{ i.junta }}</td>
					<td>{{ i.fechaCreacion | date:'dd/MM/yyyy HH:mm':'GMT-5' }}</td>
					<td class="min-size">
						<div class="flex flex-no-wrap gap-10">
							<button nz-button nzType="text">
								<span nz-icon nzType="edit"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</nz-table>
	</div>
</div>
