<div class="w-full p-20">
	<div class="w-full flex items-center flex-no-wrap gap-15 justify-between mb-15">
		<h4 class="display-block m-0 font-bold text-xl">Pozos de agua</h4>

		<div class="flex items-center flex-no-wrap gap-10">
			<nz-radio-group [(ngModel)]="visualizacion">
				<label nz-radio-button nzValue="table">
					<span nz-icon nzType="table"></span>
				</label>
				<label nz-radio-button nzValue="map">
					<span nz-icon nzType="aim"></span>
				</label>
			</nz-radio-group>

			<button nz-button nzType="primary" (click)="abrirDrawerNuevoPozo()">
				<span nz-icon nzType="plus"></span>
				Agregar Pozo
			</button>
		</div>
	</div>

	<form [formGroup]="filtros" class="w-full border-1 border-solid border-theme-bluegray-300 rounded-sm p-10 mb-20 bg-theme-bluegray-100 grid">
		<div class="grid-col-2">
			<p class="display-block m-0 mb-7 text-smd font-medium">Junta</p>
			<nz-select class="w-full" nzAllowClear nzSize="small">
				<nz-option *ngFor="let item of [1,2,3]" [nzLabel]="item" [nzValue]="item">
				</nz-option>
			</nz-select>
		</div>
		<div class="grid-col-2">
			<p class="display-block m-0 mb-7 text-smd font-medium">Provincia</p>
			<nz-select class="w-full" nzAllowClear nzSize="small">
				<nz-option *ngFor="let item of [1,2,3]" [nzLabel]="item" [nzValue]="item">
				</nz-option>
			</nz-select>
		</div>
		<div class="grid-col-2">
			<p class="display-block m-0 mb-7 text-smd font-medium">Ciudad</p>
			<nz-select class="w-full" nzAllowClear nzSize="small">
				<nz-option *ngFor="let item of [1,2,3]" [nzLabel]="item" [nzValue]="item">
				</nz-option>
			</nz-select>
		</div>
		<div class="grid-col-2">
			<p class="display-block m-0 mb-7 text-smd font-medium">Parroquia</p>
			<nz-select class="w-full" nzAllowClear nzSize="small">
				<nz-option *ngFor="let item of [1,2,3]" [nzLabel]="item" [nzValue]="item">
				</nz-option>
			</nz-select>
		</div>
		<div class="grid-col-2 flex items-end">
			<button nz-button nzType="primary" class="btn-black w-full">Buscar</button>
		</div>
	</form>

	<div *ngIf="visualizacion == 'table'" class="w-full">
		<nz-table #nzTable
			[nzData]="[1,1,1,1]"
			nzSize="small"
			[nzPageSize]="10">
			<thead>
				<tr>
					<th class="min-size">ID</th>
					<th>Pozo</th>
					<th>Junta</th>
					<th>Ubicación</th>
					<th>Fecha Creación</th>
					<th class="min-size"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let i of nzTable.data">
					<td class="min-size">123</td>
					<td>Nombre Pozo</td>
					<td>Nombre Junta</td>
					<td>
						<code class="text-sm px-7 py-5 bg-theme-bluegray-100 rounded-sm">
							12.3456789, -98.7654321
						</code>
					</td>
					<td>{{ '12/12/2023 10:00' }}</td>
					<td class="min-size">
						<div class="flex flex-no-wrap gap-10">
							<a routerLink="/pozos/{{ i }}" nz-button nzType="text">
								<span nz-icon nzType="eye"></span>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</nz-table>
	</div>

	<div *ngIf="visualizacion == 'map'" class="w-full">
		<google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
			<map-marker [position]="markerPosition" [options]="markerOptions"></map-marker>
		</google-map>
	</div>
</div>
