<div class="w-screen overflow-hidden flex flex-no-wrap flex-column" style="height: 100vh;">
	<div class="w-full">
		<app-header></app-header>
	</div>

	<div class="w-full flex flex-no-wrap" style="height: calc(100% - 5.2rem);">
		<div class="relative" style="width: 30rem;">
			<app-sidebar></app-sidebar>

			<button class="absolute top-5 border-0 bg-theme-bluegray-300 rounded-sm hover:bg-theme-bluegray-400 cursor-pointer" style="width: 2.8rem; height: 2.8rem; right: -1.4rem;">
				X
			</button>
		</div>

		<div class="w-full h-full overflow-auto">
			<router-outlet></router-outlet>
		</div>
	</div>

</div>
