@keyframes rotating {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rotating {
	animation: rotating 2.1s linear infinite;
}

.center {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.show-on-hover {
	opacity: 0;
}

tr {
	&:hover {
		.show-on-hover {
			opacity: 1;
		}
	}
}

.width-notification {
	width: calc(100% - 4rem - 1.5rem);
}

.modal-sticky-footer {
	.ant-modal-content {
		.ant-modal-footer {
			position: sticky;
			left: 0;
			bottom: 0;
			background: #FFF;
		}
	}
}

.skeleton {
	--initial-bg: #e2e5ea;
	--final-bg: #f6f8fa;
	animation: skeleton-loading 0.75s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: var(--initial-bg);
	}

	100% {
		background-color: var(--final-bg);
	}
}
