<div class="w-screen h-screen grid gap-0">

	<div class="grid-col-6 sm:grid-col-12 flex items-center justify-center">

		<form [formGroup]="formLogin" (submit)="iniciarSesion()" class="w-full mx-auto p-20" style="max-width: 50rem;">

			<div class="w-full mb-15">
				<h2 class="font-black display-block m-0 text-center">Bienvenido de vuelta</h2>
				<p class="display-block m-0 text-center text-theme-bluegray-500">
					Por favor ingresa tus credenciales para continuar
				</p>
			</div>

			<div class="w-full mb-15">
				<p class="display-block m-0 mb-7 font-medium">Usuario</p>
				<input nz-input type="text" formControlName="correo" nzSize="large" class="w-full shadow-sm rounded-sm">
			</div>
			<div class="w-full mb-15">
				<p class="display-block m-0 mb-7 font-medium">Contraseña</p>
				<input nz-input type="password" formControlName="clave" nzSize="large" class="w-full shadow-sm rounded-sm">
			</div>
			<div class="w-full mb-15 text-right">
				<a class="text-theme-black-100 underline text-smd" href="#">Recuperar contraseña</a>
			</div>

			<div *ngIf="errors && errors.length > 0" class="w-full mb-15 bg-redgray border-1 border-solid border-red-700 rounded-sm px-12 py-7">
				<p *ngFor="let e of errors" class="display-block m-0 text-red-800">{{ e.code }} {{ e.text }}</p>
			</div>

			<div class="w-full mt-25">
				<button nz-button [nzLoading]="loading" (click)="iniciarSesion()" nzType="primary" nzSize="large" class="w-full shadow-sm rounded-sm">
					Iniciar Sesión
				</button>
			</div>
		</form>

	</div>

	<div class="grid-col-6 sm:display-none p-20 pl-0">
		<div class="w-full h-full bg-login rounded-lg"></div>
	</div>

</div>
